 <footer class="text-center text-lg-start text-white container-fluid py-4"
          style="background-color: black">
    <!-- Grid container -->
    <div class="container-fluid">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              About me
            </h6>
            <p>
           I’m Pawan Kumar, an MCA student at VGU, Jaipur. I'm from Bihar and passionate about backend web development. This project showcases my skills in Django and database management.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Projects</h6>
            <p>
              <a class="text-white">Online Room Booking</a>
            </p>
            <p>
              <a class="text-white">Blog Website</a>
            </p>
            <p>
              <a class="text-white">E-Commerce Website</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Useful links
            </h6>
            <p>
              <a class="text-white" href="{% url 'home' %}">Home</a>
            </p>
            <p>
              <a class="text-white" href="{%url 'view_all_post' %}">Blog</a>
            </p>
           <p>
              <a class="text-white" href="{%url 'login' %}">Login</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fa fa-home"></i>  Siwan Bihar India (841239)</p>
            <p><i class="fa fa-envelope mr-3"></i>  kumarpawanbca003@gmail.com</p>
            <p><i class="fa fa-phone mr-3"></i>   8102011426</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
      <hr class="my-3">
      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              &copy; <strong><span>2025</span></strong>. Designed by Mr.Pawan kumar
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- linkedin -->
            <a
            data-mdb-ripple-init class="btn text-white btn-floating m-1"
            style="background-color: #0082ca;"
            href="#!"
            role="button"
            ><i class="fa fa-linkedin"></i
          ></a>
            <!-- Instagram -->
          <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button" style="background-color: #ac2bac;"
               ><i class="fa fa-instagram"></i
              ></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>