{% extends 'dashboard/admin_base.html' %}
{% block body %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Add Category</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Category</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Add Category</h5>
        <div class="container-fluid">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="mb-3">
              <label class="form-label">{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                <div class="text-danger small">{{ field.errors|striptags }}</div>
              {% endif %}
            </div>
          {% endfor %}
            <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
